@import "../foundation/variables";

// Esri
.esri-popup__header-title {
  font-size: 12px !important;
  font-weight: 400;
  text-transform: uppercase;
}

.esri-popup__header-inner {
  font-size: 12px;
  display: block;
  word-break: break-word;
  word-wrap: break-word;
}

.esri-popup__content ~ .esri-popup__footer {
  background-color: #f5f5f5;
  margin-top: -8px !important;
}

.description_tips {
  line-height: 0;
  text-align: left;
  font-size: 12px;
  display: flex;
  > div {
    margin: 0 1rem;
    > p {
      margin: 0;
      font-size: 11px;
      line-height: 11px;
      display: flex;
    }
  }
  .do > * {
    color: $success;
  }
  .dont > * {
    color: $danger;
  }
}

.overlay-menu ul li {
  padding-top: 0;
}

.has-error {
  border: 1px solid $danger !important;
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 600px;
      margin: 30px auto;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#infoDiv {
  position: absolute;
  bottom: 15px;
  right: 0;
  max-height: 80%;
  max-width: 300px;
  background-color: black;
  padding: 8px;
  border-top-left-radius: 5px;
  color: white;
  opacity: 0.8;
}

// Testing
#map > div:last-child {
  display: none;
}
#map > div:first-child {
  display: block;
}

.fixed-right-bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#Layout .esri-popup__main-container {
  max-width: calc(100% - 20px);
}

#Home, #Google {
  .fixed-left-bottom {
    position: absolute;
    bottom: 26px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  .fixed-right-bottom {
    position: absolute;
    bottom: 26px;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
  .fixed-left-top {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .fixed-right-top {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .esri-popup--is-docked-bottom-right .esri-popup__main-container {
    max-width: calc(100% - 20px);
  }
}

#MainMap {
  .fixed-left-bottom {
    position: absolute;
    bottom: 30px;
    left: 15px;
    display: flex;
    flex-direction: column;
  }
  .fixed-right-bottom {
    position: absolute;
    bottom: 30px;
    right: 15px;
    display: flex;
    flex-direction: column;
  }
  .fixed-left-top {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .fixed-right-top {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .esri-popup--is-docked-bottom-right .esri-popup__main-container {
    max-width: calc(100% - 30px);
  }
}

.map-menu {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  .btn {
    padding: 0;
    width: 40px;
    height: 40px;
    letter-spacing: 0;
    border-bottom: solid 1px rgba(50,50,50,0.25);
    &:focus{
      background: #656565;
      color: $light;
    }
    &:hover{
      background: #656565;
      color: $light;
    }
    &.active {
      color: $primary;
    }
    &:last-child {
      border-bottom: 0;
    }
    > span::before {
      font-size: $f-lg;
    }
    .map-tooltip {
      &-left {
        right: 70px;
        position: fixed;
        line-height: 39px;
        background: $primary;
        color: $light;
        padding: 0 2rem;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: -7px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent transparent $primary;
        }
      }
      &-right {
        left: 70px;
        position: fixed;
        line-height: 39px;
        background: $primary;
        color: $light;
        padding: 0 2rem;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: -7px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent $primary transparent transparent;
        }
      }
    }
  }

  .isMobile {
    #MainMap .esri-ui-corner {
      width: 100%;
    }
  }

  .implanf-pin {
    letter-spacing: 0;
    &:before {
      font-size: 140%;
    }
  }
  select {
    height: 38px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $light;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  label {
    margin: 0;
    display: flex;
  }

  .map-search {
    min-width: 280px;
    padding-right: $f-bs;
    padding-left: $f-bs;
    display: inline-block;
    margin: 0;
    height: 40px;
  }

  .implanf-search {
    width: 40px;
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    &:before {
      line-height: 40px;
      display: flex;
      justify-content: center;
      font-size: $f-lg;
    }
  }
}

.map-help {
  background: rgba(0, 0, 0, 0.2);
  &.fs-menu.open {
    z-index: 0;
  }
  .fixed-left-bottom, &.fixed-left-bottom {
    margin-left: 54px;
    > span {
      line-height: 39px;
      background: $primary;
      color: $light;
      padding: 0 $s-bs;
      position: relative;
      border-top: solid 1px rgba(50,50,50,0.25);
      &:first-child {
        border-top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent $primary transparent transparent;
      }
    }
  }
  .fixed-right-bottom, &.fixed-right-bottom {
    margin-right: 54px;
    > span {
      line-height: 39px;
      background: $primary;
      color: $light;
      padding: 0 $s-bs;
      position: relative;
      border-top: solid 1px rgba(50,50,50,0.25);
      text-align: right;
      &:first-child {
        border-top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent $primary;
      }
    }
  }
}

button.esri-popup__button.esri-popup__actions-menu-button.btn-success {
  color: $light;
}

.esri-popup__header-buttons .esri-popup__button {
  background: $light;
}

#MainMap, #Home, #Google {
  .esri-widget__table tr th {
    border-right: 0;
    font-weight: 600;
    width: 40%;
  }
  .esri-widget__table tr td {
    width: 60%;
  }
}

.center {
  text-align: center;
  justify-content: center;
}

.fs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  .center {
    // padding: 0.5rem;
    z-index: 2;
  }
}

.nav-btn {
  // font-family: "Montserrat", sans-serif;
  // text-transform: uppercase;
  // font-weight: 400;
  // letter-spacing: 0.12em;
  // font-size: 13px;
  padding: 0 20px;
  line-height: 100px;
}

// Google maps
#map > div > div > div > div > div:nth-child(2) img[draggable="false"] {
  opacity: 1.0;
  transition: all .25s ease-in-out;
}

#map.transparent > div > div > div > div > div:nth-child(2) img[draggable="false"] {
  opacity: 0.0;
  transition: all .25s ease-in-out;
}

div.icon-boxes.style-3 .service-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 15px;
  .icon {
    width: 64px;
    margin: 0 10px;
  }
  > span {
    padding-left: 20px;
  }
}

.btn.btn-dark {
  background-color: #2b2b2b;
}

.icon-box {
  width: 100%;
  height: 100%; 
  padding: 0;
  background: $light;

  &.btn-icon {
    color: $dark;
    flex: 1 0 33%;
    max-width: 33%;
  }

  .service-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: $dark;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #e0e0e0;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px solid $dark;
    }
    .icon {
      width: 64px;
      margin: 0 10px;
    }
  }
}

.isMobile {
  .icon-box {
    .service-item-box {
      &:hover {
        border: 1px solid #e0e0e0;
      }
    }
  }
}

button.btn.btn-icon.icon-box .category.selected {
  border-color: $primary;
}

button.btn.btn-icon.icon-box .subcategory.selected {
  border-color: $secondary;
}

.error-text {
  color: #c7254e;
}

.overlay-menu {
  > div ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .list-item {
    display: flex;
    position: relative;
    opacity: 0;
    padding-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
    .title {
      display: block;
      width: 100%;
    }
    sup {
      display: block;
      text-align: center;
      width: 100%;
      line-height: 2;
    }
    .btn-icon {
      .service-item-box {
        display: flex;
        flex-direction: column;
        font-size: $f-sm;
        align-items: center;
        letter-spacing: 0;
        min-height: 120px;
        justify-content: center;
        border-radius: 10px;
        .icon {
          margin-bottom: 10px;
        }
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          white-space: pre-line;
          margin-top: 10px;
        }
      }
    }
  }
}

.isMobile .overlay-menu .list-item .btn-icon .service-item-box {
  min-height: 140px;
}

.overlay-menu {
  margin: 0;
  padding: 0;
  margin-right: -10px;
  > div {
    padding: 0 10px;
  }
}

.isMobile {
  .overlay-menu {
    margin: 0;
    padding: 0;
    margin-right: 0;
  }
}

.nav > li > a {
  &:hover {
    background-color: $primary;
    color: $light;
    transition: all ease-in-out .25s;
    text-decoration: none;
  }
  > span:after {
    color: $light;
  }
  > span {
    float: left;
    font-size: 18px;
  }
}

@media (max-width: 991px){
  .navbar-nav > li > a {
    color: #7a7a7a;
  }
}

@media (max-width: 991px) {
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #e0e0e0;
    color: #7a7a7a;
  }
  .esri-ui-corner, .esri-component.esri-search.esri-widget {
    width: 100%;
  }

  #Google .map-menu.fixed-right-top {
    top: 0px;
    right: 0px;
    left: 0px;
    label {
      display: flex;
      width: 100%;
    }
  }
}

.guides {
  display: inline-block;
  .uppercase {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
}

.parag {
  padding: 0 4rem;
}


.esri-input[type="text"], .esri-input[type="number"] {
  height: 40px;
  font-size: $f-bs;
}

#MainMap {
  .esri-input[type="text"], .esri-input[type="number"] {
    height: 40px;
    letter-spacing: 0;
    color: $dark;
    padding: 0 1rem;
    font-family: 'Montserrat';

    &::placeholder {
      color: $dark;
    }
  }
  .esri-widget--button {
    width: 40px;
    height: 40px;
  }
}

.esri-ui-corner .esri-component {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.0);
}

input.esri-input.esri-search__input {
  border: 0;
}

.copyright span {
  color: #7a7a7a;
}

.icon-box.btn-icon {
  color: #212121;
  flex: 1 0 33%;
  max-width: 33%;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #fff;
}

.overlay-categories {
  padding: 0;
  margin: 0 -10px 0 0;
  text-align: center;
}