.nomargin {	margin: 0!important; }
.nopadding { padding: 0!important; }

.mt {
  &-0 { margin-top: 0!important; }
  &-10 { margin-top: 10px; }
  &-20 { margin-top: 20px; }
  &-30 { margin-top: 30px; }
  &-40 { margin-top: 40px; }
  &-50 { margin-top: 50px; }
  &-60 { margin-top: 60px; }
  &-70 { margin-top: 70px; }
  &-80 { margin-top: 80px; }
  &-90 { margin-top: 90px; }
  &-100 {	margin-top: 100px; }
  &-110 {	margin-top: 110px; }
  &-120 {	margin-top: 120px; }
  &-130 {	margin-top: 130px; }
  &-140 {	margin-top: 140px; }
}
.mb {
  &-0 {	margin-bottom: 0!important; }
  &-10 { margin-bottom: 10px; }
  &-20 { margin-bottom: 20px; }
  &-30 { margin-bottom: 30px; }
  &-40 { margin-bottom: 40px; }
  &-50 { margin-bottom: 50px; }
  &-60 { margin-bottom: 60px; }
  &-70 { margin-bottom: 70px; }
  &-80 { margin-bottom: 80px; }
  &-90 { margin-bottom: 90px; }
  &-100 {	margin-bottom: 100px; }
  &-110 {	margin-bottom: 110px; }
  &-120 {	margin-bottom: 120px; }
  &-130 {	margin-bottom: 130px; }
  &-140 {	margin-bottom: 140px; }
}
.pt {
  &-0 {	padding-top: 0!important; }
  &-10 { padding-top: 10px; }
  &-20 { padding-top: 20px; }
  &-30 { padding-top: 30px; }
  &-40 { padding-top: 40px; }
  &-50 { padding-top: 50px; }
  &-60 { padding-top: 60px; }
  &-70 { padding-top: 70px; }
  &-80 { padding-top: 80px; }
  &-90 { padding-top: 90px; }
  &-100 {	padding-top: 100px; }
  &-110 {	padding-top: 110px; }
  &-120 {	padding-top: 120px; }
  &-130 {	padding-top: 130px; }
  &-140 {	padding-top: 140px; }
  &-150 {	padding-top: 150px; }
  &-160 {	padding-top: 160px; }
  &-170 {	padding-top: 170px; }
  &-180 {	padding-top: 180px; }
  &-190 {	padding-top: 190px; }
  &-200 {	padding-top: 200px; }
}
.pb {
  &-0 {	padding-bottom: 0!important; }
  &-10 { padding-bottom: 10px; }
  &-20 { padding-bottom: 20px; }
  &-30 { padding-bottom: 30px; }
  &-40 { padding-bottom: 40px; }
  &-50 { padding-bottom: 50px; }
  &-60 { padding-bottom: 60px; }
  &-70 { padding-bottom: 70px; }
  &-80 { padding-bottom: 80px; }
  &-90 { padding-bottom: 90px; }
  &-100 {	padding-bottom: 100px; }
  &-110 {	padding-bottom: 110px; }
  &-120 {	padding-bottom: 120px; }
  &-130 {	padding-bottom: 130px; }
  &-140 {	padding-bottom: 140px; }
  &-150 {	padding-bottom: 150px; }
  &-160 {	padding-bottom: 160px; }
  &-170 {	padding-bottom: 170px; }
  &-180 {	padding-bottom: 180px; }
  &-190 {	padding-bottom: 190px; }
  &-200 {	padding-bottom: 200px; }
}


@media only screen and (max-width:1199px) {
  .mt {
    &-lrg-0 {	margin-top: 0!important; }
    &-lrg-10 { margin-top: 10px; }
    &-lrg-20 { margin-top: 20px; }
    &-lrg-30 { margin-top: 30px; }
    &-lrg-40 { margin-top: 40px; }
    &-lrg-50 { margin-top: 50px; }
    &-lrg-60 { margin-top: 60px; }
    &-lrg-70 { margin-top: 70px; }
    &-lrg-80 { margin-top: 80px; }
    &-lrg-90 { margin-top: 90px; }
    &-lrg-100 {	margin-top: 100px; }
    &-lrg-110 {	margin-top: 110px; }
    &-lrg-120 {	margin-top: 120px; }
    &-lrg-130 {	margin-top: 130px; }
    &-lrg-140 {	margin-top: 140px; }
  }

  .mb {
    &-lrg-0 {	margin-bottom: 0!important; }
    &-lrg-10 { margin-bottom: 10px; }
    &-lrg-20 { margin-bottom: 20px; }
    &-lrg-30 { margin-bottom: 30px; }
    &-lrg-40 { margin-bottom: 40px; }
    &-lrg-50 { margin-bottom: 50px; }
    &-lrg-60 { margin-bottom: 60px; }
    &-lrg-70 { margin-bottom: 70px; }
    &-lrg-80 { margin-bottom: 80px; }
    &-lrg-90 { margin-bottom: 90px; }
    &-lrg-100 {	margin-bottom: 100px; }
    &-lrg-110 {	margin-bottom: 110px; }
    &-lrg-120 {	margin-bottom: 120px; }
    &-lrg-130 {	margin-bottom: 130px; }
    &-lrg-140 {	margin-bottom: 140px; }
  }

  .pt {
    &-lrg-0 {	padding-top: 0!important; }
    &-lrg-10 { padding-top: 10px; }
    &-lrg-20 { padding-top: 20px; }
    &-lrg-30 { padding-top: 30px; }
    &-lrg-40 { padding-top: 40px; }
    &-lrg-50 { padding-top: 50px; }
    &-lrg-60 { padding-top: 60px; }
    &-lrg-70 { padding-top: 70px; }
    &-lrg-80 { padding-top: 80px; }
    &-lrg-90 { padding-top: 90px; }
    &-lrg-100 {	padding-top: 100px; }
    &-lrg-110 {	padding-top: 110px; }
    &-lrg-120 {	padding-top: 120px; }
    &-lrg-130 {	padding-top: 130px; }
    &-lrg-140 {	padding-top: 140px; }
  }

  .pb {
    &-lrg-0 {	padding-bottom: 0!important; }
    &-lrg-10 { padding-bottom: 10px; }
    &-lrg-20 { padding-bottom: 20px; }
    &-lrg-30 { padding-bottom: 30px; }
    &-lrg-40 { padding-bottom: 40px; }
    &-lrg-50 { padding-bottom: 50px; }
    &-lrg-60 { padding-bottom: 60px; }
    &-lrg-70 { padding-bottom: 70px; }
    &-lrg-80 { padding-bottom: 80px; }
    &-lrg-90 { padding-bottom: 90px; }
    &-lrg-100 {	padding-bottom: 100px; }
    &-lrg-110 {	padding-bottom: 110px; }
    &-lrg-120 {	padding-bottom: 120px; }
    &-lrg-130 {	padding-bottom: 130px; }
    &-lrg-140 {	padding-bottom: 140px; }
  }

}

@media only screen and (max-width:991px) {
  .mt {
    &-mdm-0 { margin-top: 0!important; }
    &-mdm-10 { margin-top: 10px; }
    &-mdm-20 { margin-top: 20px; }
    &-mdm-30 { margin-top: 30px; }
    &-mdm-40 { margin-top: 40px; }
    &-mdm-50 { margin-top: 50px; }
    &-mdm-60 { margin-top: 60px; }
    &-mdm-70 { margin-top: 70px; }
    &-mdm-80 { margin-top: 80px; }
    &-mdm-90 { margin-top: 90px; }
    &-mdm-100 { margin-top: 100px; }
    &-mdm-110 { margin-top: 110px; }
    &-mdm-120 { margin-top: 120px; }
    &-mdm-130 { margin-top: 130px; }
    &-mdm-140 { margin-top: 140px; }
  }

  .mb {
    &-mdm-0 { margin-bottom: 0!important; }
    &-mdm-10 { margin-bottom: 10px; }
    &-mdm-20 { margin-bottom: 20px; }
    &-mdm-30 { margin-bottom: 30px; }
    &-mdm-40 { margin-bottom: 40px; }
    &-mdm-50 { margin-bottom: 50px; }
    &-mdm-60 { margin-bottom: 60px; }
    &-mdm-70 { margin-bottom: 70px; }
    &-mdm-80 { margin-bottom: 80px; }
    &-mdm-90 { margin-bottom: 90px; }
    &-mdm-100 { margin-bottom: 100px; }
    &-mdm-110 { margin-bottom: 110px; }
    &-mdm-120 { margin-bottom: 120px; }
    &-mdm-130 { margin-bottom: 130px; }
    &-mdm-140 { margin-bottom: 140px; }
  }

  .pt {
    &-mdm-0 { padding-top: 0!important; }
    &-mdm-10 { padding-top: 10px; }
    &-mdm-20 { padding-top: 20px; }
    &-mdm-30 { padding-top: 30px; }
    &-mdm-40 { padding-top: 40px; }
    &-mdm-50 { padding-top: 50px; }
    &-mdm-60 { padding-top: 60px; }
    &-mdm-70 { padding-top: 70px; }
    &-mdm-80 { padding-top: 80px; }
    &-mdm-90 { padding-top: 90px; }
    &-mdm-100 { padding-top: 100px; }
    &-mdm-110 { padding-top: 110px; }
    &-mdm-120 { padding-top: 120px; }
    &-mdm-130 { padding-top: 130px; }
    &-mdm-140 { padding-top: 140px; }
    &-mdm-150 { padding-top: 150px; }
  }

  .pb {
    &-mdm-0 { padding-bottom: 0!important; }
    &-mdm-10 { padding-bottom: 10px; }
    &-mdm-20 { padding-bottom: 20px; }
    &-mdm-30 { padding-bottom: 30px; }
    &-mdm-40 { padding-bottom: 40px; }
    &-mdm-50 { padding-bottom: 50px; }
    &-mdm-60 { padding-bottom: 60px; }
    &-mdm-70 { padding-bottom: 70px; }
    &-mdm-80 { padding-bottom: 80px; }
    &-mdm-90 { padding-bottom: 90px; }
    &-mdm-100 { padding-bottom: 100px; }
    &-mdm-110 { padding-bottom: 110px; }
    &-mdm-120 { padding-bottom: 120px; }
    &-mdm-130 { padding-bottom: 130px; }
    &-mdm-140 { padding-bottom: 140px; }
    &-mdm-150 { padding-bottom: 150px; }
  }

}

@media only screen and (max-width:767px) {

  .mt-sml {
    &-0 { margin-top: 0!important; }
    &-10 { margin-top: 10px; }
    &-20 { margin-top: 20px; }
    &-30 { margin-top: 30px; }
    &-40 { margin-top: 40px; }
    &-50 { margin-top: 50px; }
    &-60 { margin-top: 60px; }
    &-70 { margin-top: 70px; }
    &-80 { margin-top: 80px; }
    &-90 { margin-top: 90px; }
    &-100 { margin-top: 100px; }
    &-110 { margin-top: 110px; }
    &-120 { margin-top: 120px; }
    &-130 { margin-top: 130px; }
    &-140 { margin-top: 140px; }
  }

  .mb-sml {
    &-0 { margin-bottom: 0!important; }
    &-10 { margin-bottom: 10px; }
    &-20 { margin-bottom: 20px; }
    &-30 { margin-bottom: 30px; }
    &-40 { margin-bottom: 40px; }
    &-50 { margin-bottom: 50px; }
    &-60 { margin-bottom: 60px; }
    &-70 { margin-bottom: 70px; }
    &-80 { margin-bottom: 80px; }
    &-90 { margin-bottom: 90px; }
    &-100 { margin-bottom: 100px; }
    &-110 { margin-bottom: 110px; }
    &-120 { margin-bottom: 120px; }
    &-130 { margin-bottom: 130px; }
    &-140 { margin-bottom: 140px; }
  }

  .pt-sml {
    &-0 { padding-top: 0!important; }
    &-10 { padding-top: 10px; }
    &-20 { padding-top: 20px; }
    &-30 { padding-top: 30px; }
    &-40 { padding-top: 40px; }
    &-50 { padding-top: 50px; }
    &-60 { padding-top: 60px; }
    &-70 { padding-top: 70px; }
    &-80 { padding-top: 80px; }
    &-90 { padding-top: 90px; }
    &-100 { padding-top: 100px; }
    &-110 { padding-top: 110px; }
    &-120 { padding-top: 120px; }
    &-130 { padding-top: 130px; }
    &-140 { padding-top: 140px; }
  }

  .pb-sml {
    &-0 { padding-bottom: 0!important; }
    &-10 { padding-bottom: 10px; }
    &-20 { padding-bottom: 20px; }
    &-30 { padding-bottom: 30px; }
    &-40 { padding-bottom: 40px; }
    &-50 { padding-bottom: 50px; }
    &-60 { padding-bottom: 60px; }
    &-70 { padding-bottom: 70px; }
    &-80 { padding-bottom: 80px; }
    &-90 { padding-bottom: 90px; }
    &-100 { padding-bottom: 100px; }
    &-110 { padding-bottom: 110px; }
    &-120 { padding-bottom: 120px; }
    &-130 { padding-bottom: 130px; }
    &-140 { padding-bottom: 140px; }
  }
}

@media only screen and (max-width:480px) {

  .mt-xsm {
    &-0 { margin-top: 0!important; }
    &-10 { margin-top: 10px; }
    &-20 { margin-top: 20px; }
    &-30 { margin-top: 30px; }
    &-40 { margin-top: 40px; }
    &-50 { margin-top: 50px; }
    &-60 { margin-top: 60px; }
    &-70 { margin-top: 70px; }
    &-80 { margin-top: 80px; }
    &-90 { margin-top: 90px; }
    &-100 { margin-top: 100px; }
    &-110 { margin-top: 110px; }
    &-120 { margin-top: 120px; }
    &-130 { margin-top: 130px; }
    &-140 { margin-top: 140px; }
  }

  .mb-xsm {
    &-0 { margin-bottom: 0!important; }
    &-10 { margin-bottom: 10px; }
    &-20 { margin-bottom: 20px; }
    &-30 { margin-bottom: 30px; }
    &-40 { margin-bottom: 40px; }
    &-50 { margin-bottom: 50px; }
    &-60 { margin-bottom: 60px; }
    &-70 { margin-bottom: 70px; }
    &-80 { margin-bottom: 80px; }
    &-90 { margin-bottom: 90px; }
    &-100 { margin-bottom: 100px; }
    &-110 { margin-bottom: 110px; }
    &-120 { margin-bottom: 120px; }
    &-130 { margin-bottom: 130px; }
    &-140 { margin-bottom: 140px; }
  }

  .pt-xsm {
    &-0 { padding-top: 0!important; }
    &-10 { padding-top: 10px; }
    &-20 { padding-top: 20px; }
    &-30 { padding-top: 30px; }
    &-40 { padding-top: 40px; }
    &-50 { padding-top: 50px; }
    &-60 { padding-top: 60px; }
    &-70 { padding-top: 70px; }
    &-80 { padding-top: 80px; }
    &-90 { padding-top: 90px; }
    &-100 { padding-top: 100px; }
    &-110 { padding-top: 110px; }
    &-120 { padding-top: 120px; }
    &-130 { padding-top: 130px; }
    &-140 { padding-top: 140px; }
  }

  .pb-xsm {
    &-0 { padding-bottom: 0!important; }
    &-10 { padding-bottom: 10px; }
    &-20 { padding-bottom: 20px; }
    &-30 { padding-bottom: 30px; }
    &-40 { padding-bottom: 40px; }
    &-50 { padding-bottom: 50px; }
    &-60 { padding-bottom: 60px; }
    &-70 { padding-bottom: 70px; }
    &-80 { padding-bottom: 80px; }
    &-90 { padding-bottom: 90px; }
    &-100 { padding-bottom: 100px; }
    &-110 { padding-bottom: 110px; }
    &-120 { padding-bottom: 120px; }
    &-130 { padding-bottom: 130px; }
    &-140 { padding-bottom: 140px; }
  }
}


//
.pr {
  &-0 { padding-right: 0!important; }
  &-10 { padding-right: 10px; }
  &-20 { padding-right: 20px; }
  &-30 { padding-right: 30px; }
  &-40 { padding-right: 40px; }
  &-50 { padding-right: 50px; }
  &-60 { padding-right: 60px; }
  &-70 { padding-right: 70px; }
  &-80 { padding-right: 80px; }
  &-90 { padding-right: 90px; }
  &-100 {	padding-right: 100px; }
  &-110 {	padding-right: 110px; }
  &-120 {	padding-right: 120px; }
  &-130 {	padding-right: 130px; }
  &-140 {	padding-right: 140px; }
}
.pl {
  &-0 {	padding-left: 0!important; }
  &-10 { padding-left: 10px; }
  &-20 { padding-left: 20px; }
  &-30 { padding-left: 30px; }
  &-40 { padding-left: 40px; }
  &-50 { padding-left: 50px; }
  &-60 { padding-left: 60px; }
  &-70 { padding-left: 70px; }
  &-80 { padding-left: 80px; }
  &-90 { padding-left: 90px; }
  &-100 {	padding-left: 100px; }
  &-110 {	padding-left: 110px; }
  &-120 {	padding-left: 120px; }
  &-130 {	padding-left: 130px; }
  &-140 {	padding-left: 140px; }
}
//
.mr {
  &-0 { margin-right: 0!important; }
  &-10 { margin-right: 10px; }
  &-20 { margin-right: 20px; }
  &-30 { margin-right: 30px; }
  &-40 { margin-right: 40px; }
  &-50 { margin-right: 50px; }
  &-60 { margin-right: 60px; }
  &-70 { margin-right: 70px; }
  &-80 { margin-right: 80px; }
  &-90 { margin-right: 90px; }
  &-100 {	margin-right: 100px; }
  &-110 {	margin-right: 110px; }
  &-120 {	margin-right: 120px; }
  &-130 {	margin-right: 130px; }
  &-140 {	margin-right: 140px; }
}
.ml {
  &-0 {	margin-left: 0!important; }
  &-10 { margin-left: 10px; }
  &-20 { margin-left: 20px; }
  &-30 { margin-left: 30px; }
  &-40 { margin-left: 40px; }
  &-50 { margin-left: 50px; }
  &-60 { margin-left: 60px; }
  &-70 { margin-left: 70px; }
  &-80 { margin-left: 80px; }
  &-90 { margin-left: 90px; }
  &-100 {	margin-left: 100px; }
  &-110 {	margin-left: 110px; }
  &-120 {	margin-left: 120px; }
  &-130 {	margin-left: 130px; }
  &-140 {	margin-left: 140px; }
}