@import "../fonts/montserrat/montserrat.css";
@import "../fonts/implanf/style.css";
@import "../fonts/flexslider-icon/flexslider.css";
@import "../fonts/WeatherIcons/WeatherIcons.css";
@import "../fonts/WeathericonFat/style.css";

@import "foundation/variables";

@import "theme/bootstrap";
// @import "theme/maps";

@import "foundation/colors";
@import "foundation/page-transition";
@import "foundation/ripple";

@import "theme/theme";
@import "theme/responsive";
@import "theme/spacings";
@import "theme/animate";
@import "theme/glide";

@import "theme/magnific";
// @import "theme/slick";

@import "theme/color";



*, *::after, *::before {
  outline: none !important;
  box-sizing: border-box;
  // touch-action: manipulation;
}

:root {
  --f-xs: .5rem;
  --f-sm: .85rem;
  --f-bs: 1rem;
  --f-md: 1.5rem;
  --f-lg: 2em;

  --s-xs: .75rem;
  --s-sm: 1rem;
  --s-bs: 2rem;
  --s-md: 3rem;
  --s-lg: 5rem;


  --primary: rgba(8, 150, 164, 1);
  --primary-80: rgba(8, 150, 164, 0.8);
  --primary-50: rgba(8, 150, 164, 0.5);
  --primary-15: rgba(8, 150, 164, 0.15);
  --darker: rgba(27, 27, 27, 1);
  --dark: rgba(33, 33, 33, 1);
  --dark-80: rgba(33, 33, 33, 0.8);
  --dark-20: rgba(33, 33, 33, 0.2);
  --light: rgba(255, 255, 255, 1);
  --light-50: rgba(255, 255, 255, 0.5);
  --light-20: rgba(255, 255, 255, 0.2);
  --light-05: rgba(255, 255, 255, 0.05);
}

html, body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}

html, body,
#Root {
  padding: 0;
  margin: 0;
  // position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  top: 0;
  left: 0;
  background: $light;
  color: $dark;
  background: var(--light);
  color: var(--dark);
  -webkit-overflow-scrollable: none;
}

#Root {
  // position: absolute;
}

html {
  padding: env(safe-area-inset);
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;

  .fill {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    -webkit-overflow-scrollable: none;
    overscroll-behavior-y: contain;
  }

  .full {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  .app__statusbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 23px;
    background: $primary;
    background: var(--primary);
    // display: none;
    z-index: 10;
  }

  .app__page {
    position: relative;
  }

  &.isStandalone {
    width: 100vw;
    height: 100%;
    .app__statusbar {
      display: block;
    }

    .Toastify .Toastify__toast-container {
      top: 23px;
    }


    #Layout.full {
      width: 100vw;
      height: 100vh;
    }

    /* Landscape */
    @media only screen and (max-device-width: 667px) and (orientation: landscape) {
      .app__statusbar {
        display: none;
      }
    }
  }
}


@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    left: 0;
    transform: translateX(0);
  }
}


button {
  appearance: none;
  border: 0;
  font-family: 'Karla';
}

.btn.btn-gradient {
  background: linear-gradient(to bottom right,#d7bbea,#65a8f1);
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  // font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.defs {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

svg text.material-icons {
  font-family: 'Material Icons';
}

::placeholder {
  color: gray;
  font-size: 12px;
  letter-spacing: 1px;
}

div.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  // scroll-behavior: smooth;
}

div.nonscrollable {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.icon_house, .social-icons {
  font-size: $f-md;
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 14px;
}

.text-big {
  font-size: 32px;
  span {
    margin: 0 10px; 
  }
}

// Loader

$loader-size: 10rem;
$animation-duration: 1.5s;

.btn {
  position: relative;
  overflow: hidden;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $loader-size;
  height: $loader-size;
}

.double-pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: $loader-size;
  height: $loader-size;
  margin: 0 auto;
  border-radius: 100%;
  background-color: white;
  opacity: .4;
  animation: double-pulse $animation-duration infinite ease-out;

  &:nth-of-type(2) {
    animation-delay: -350ms;
  }
}

@keyframes double-pulse {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.toast {
  padding: 1.5rem;
}

button.toast-close {
  border: 0;
  background: transparent;
  color: #121212;
  display: inline-block;
}

// Toastify
.Toastify__toast {
  min-height: 53px;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}

.Toastify__toast--info {
  background: $primary;
  color: #fff;
}

.Toastify__toast--success {
  background: $secondary;
}

.Toastify__toast--warning {
  background: #ec971f;
}

.Toastify__toast--error {
  background: #ef5659;
  color: #fff;
}

.app__page {
  width: 100%;
  height: 100%;
}

.has-error {
  border: 1px solid $danger !important;
}

// @media (min-width: 768px) {
//   .modal-dialog {
//       width: 600px;
//       margin: 30px auto;
//   }
// }

.modal-content {
  border-radius: 1px;
}

.widget .weather {
  opacity: 0;
}

.modal-info {
  position: absolute;
  .modal-backdrop {
    position: absolute;
    &.in {
      opacity: 0.0;
    }
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: 22px;
    .modal-header {
      padding: 15px 18px;
      // border-bottom: 0;
      // position: absolute;
      // width: 100%;
      // top: 0;
      .modal-title {
        text-transform: capitalize;
      }
      .close {
        margin-top: 3px;
      }
    }
    .modal-body {
      padding: 15px 18px;
      padding-top: 0;
      // .dashboard-box {
      //   opacity: 0;
      // }
      .weather-box {
        background-color: transparent;
        padding: 2vmin;
        .weather-desc {
          margin-bottom: 30px;
        }
        .glide {
          margin-top: 15px;
        }
        .weather-icon i {
          margin-bottom: 10px;
        }
        .weather-wrap {
          display: flex;
          justify-content: space-between;
          // > div {
          //   flex: 1;
          // }
          .left {
            text-align: left;
          }
          .right {
            text-align: center;
          }
          ul li {
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.week-days .week-day>span {
  // -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  filter: blur(0);
  transform: translateZ(0);
}

.weather-main.left {
  min-width: 130px;
}

.weather-wrap.clearfix {
  display: flex;
  align-items: center;
}

.week-days .week-day>span.wef {
  font-size: 18px;
  color: #2cb8a5;
  padding: 10px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


@media(max-width: 991px) {
	.flex-wrap {
		display: block;
		flex-wrap: nowrap;
	}
}

.fixed-right-bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.center {
  text-align: center;
  justify-content: center;
}

.btn.btn-dark {
  background-color: #2b2b2b;
}

.error-text {
  color: #c7254e;
}

.capitalize {
  text-transform: capitalize;
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.7);
  small {
    text-transform: capitalize;
  }
}

.weather-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;

  .weather-main {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    ul li {
      font-size: 20px;
      text-align: center;
    }

    li small, span > span {
      color: #7a7a7a;
      // display: block;
      font-size: 65%;
    }
  }
  .weather-temp {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      top: 0;
      font-size: 50px;
      // line-height: 45px;
    }
    .temp-main {
      margin-top: 5px;
      font-size: 20px;
      > small {
        color: #7a7a7a;
        // display: block;
        font-size: 65%;
      }
    }
  }
}

.week-days {
  .owl-item {
    text-align: center;
  }
  .owl-buttons {
    > div i {
      line-height: 87px;
    }
  }
  .day-info {
    padding-top: 0px;
    border: 0;
  }
  &.day-info {
    border: 0;
  }
  .owl-dots {
    position: relative;
    bottom: 0;
    margin-top: 15px;
    .owl-dot {
      padding: 5px;
      span {
        background: $primary;
        border-width: 1px;
        width: 8px;
        height: 8px;
        margin: 0;
        border: 1px solid $light;
      }
      &.active span {
        border: 1px solid $primary;
      }
    }
  }
}

.week-days li span {
  display: block;
}

.cart-temp {
  height: 66px;
  line-height: 66px;
  padding-left: 20px;
}

@media (max-width: 991px) {
  .cart-temp {
    position: absolute;
    right: 95px;
    top: 0;
    height: 52px;
    line-height: 56px;
  }
}

.moon svg {
	background-image: $moon;
	background-position: center center;
	background-size: 85%;
	background-repeat: no-repeat;
}

.earth svg {
	background-image: $earth;
	background-position: center center;
	background-size: 85%;
	background-repeat: no-repeat;
}

.rounded {
  border-radius: 70px;
}

.nav-cart.right {
  cursor: default;
}

#Dashboard {
  position: absolute;
  top: 30px;
  bottom: 30px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  > div {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .dashboard-box {
    border-radius: 22px;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
    .weather-main.left {
      overflow: hidden;
      max-height: 100px;
      max-width: 160px;
      min-width: 150px;
      overflow: hidden;
      opacity: 1;
      transition: all 1s ease-in-out;
    }
    .weather-box {
      transition: all 1s ease-in-out;
    }
    &.small {
      .weather-main.left {
        // width: 0;
        // height: 0;
        min-width: 0px;
        min-height: 0px;
        max-width: 0;
        max-height: 0;
        opacity: 0;
      }
      .weather-box {
        padding: 20px;
        border-radius: 50%;
      }
    }
    .weather-box {
      padding: 30px;
      .glide {
        margin-top: 30px;
      }
    }
    .weather-main.left {
      // min-width: 140px;
      li, span {
        font-size: 11px;
        padding: 0;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      h5 {
        font-size: 13px;
        text-transform: uppercase;
        margin: 2px 0;
        margin-bottom: 5px;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.wi.wi-night-alt-cloudy:before {
  letter-spacing: -10px;
}

// @media (max-height: 840px) {
//   .dashboard-box {
//     &:last-child {
//      display: none;
//     }
//   }
// }

@media (max-width: 991px){
  .navbar-nav > li > a {
    color: #7a7a7a;
  }

  .navigation {
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
    color: #777;
  }
}

@media (max-width: 768px) {
}

.buttons-holder .btn-lg.btn-white {
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
}