
$moon: url('../../../assets/images/main/moon.png');
$earth: url('../../../assets/images/main/earth.png');

svg.phase-main {
	clip-path: circle(41% at center);
	background-color: transparent;
	background-position: center center;
	background-size: 84%;
	background-repeat: no-repeat;
	filter: drop-shadow(10px 10px 8px rgba(0,0,0,.2));
}

.moon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	svg.phase-main {
		background-image: $moon;
	}
}

.earth {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	svg.phase-main {
		background-image: $earth;
	}
}

.bg-dark {
	.earth, .moon {
		svg.phase-main {
			filter: drop-shadow(6px 6px 28px rgba(255,255,255,.1));
		}
	}
}