@font-face {
  font-family: 'esricon';
  src:  url('esricon.eot?36fmca');
  src:  url('esricon.eot?36fmca#iefix') format('embedded-opentype'),
    url('esricon.ttf?36fmca') format('truetype'),
    url('esricon.woff?36fmca') format('woff'),
    url('esricon.svg?36fmca#esricon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="esricon-"], [class*=" esricon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'esricon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.esricon-close:before {
  content: "\e600";
}
.esricon-drag-horizontal:before {
  content: "\e601";
}
.esricon-drag-vertical:before {
  content: "\e602";
}
.esricon-handle-horizontal:before {
  content: "\e603";
}
.esricon-handle-vertical:before {
  content: "\e604";
}
.esricon-check-mark:before {
  content: "\e605";
}
.esricon-left-triangle-arrow:before {
  content: "\e606";
}
.esricon-right-triangle-arrow:before {
  content: "\e607";
}
.esricon-down-arrow:before {
  content: "\e608";
}
.esricon-up-arrow:before {
  content: "\e609";
}
.esricon-overview-arrow-bottom-left:before {
  content: "\e60a";
}
.esricon-overview-arrow-bottom-right:before {
  content: "\e60b";
}
.esricon-overview-arrow-top-left:before {
  content: "\e60c";
}
.esricon-overview-arrow-top-right:before {
  content: "\e60d";
}
.esricon-maximize:before {
  content: "\e60e";
}
.esricon-minimize:before {
  content: "\e60f";
}
.esricon-checkbox-unchecked:before {
  content: "\e610";
}
.esricon-checkbox-checked:before {
  content: "\e611";
}
.esricon-radio-unchecked:before {
  content: "\e612";
}
.esricon-radio-checked:before {
  content: "\e613";
}
.esricon-up-arrow-circled:before {
  content: "\e614";
}
.esricon-down-arrow-circled:before {
  content: "\e615";
}
.esricon-left-arrow-circled:before {
  content: "\e616";
}
.esricon-right-arrow-circled:before {
  content: "\e617";
}
.esricon-zoom-out-fixed:before {
  content: "\e618";
}
.esricon-zoom-in-fixed:before {
  content: "\e619";
}
.esricon-refresh:before {
  content: "\e61a";
}
.esricon-edit:before {
  content: "\e61b";
}
.esricon-authorize:before {
  content: "\e61c";
}
.esricon-map-pin:before {
  content: "\e61d";
}
.esricon-blank-map-pin:before {
  content: "\e61e";
}
.esricon-table:before {
  content: "\e61f";
}
.esricon-plus:before {
  content: "\e620";
}
.esricon-minus:before {
  content: "\e621";
}
.esricon-beginning:before {
  content: "\e622";
}
.esricon-reverse:before {
  content: "\e623";
}
.esricon-pause:before {
  content: "\e624";
}
.esricon-play:before {
  content: "\e625";
}
.esricon-forward:before {
  content: "\e626";
}
.esricon-end:before {
  content: "\e627";
}
.esricon-erase:before {
  content: "\e628";
}
.esricon-up-down-arrows:before {
  content: "\e629";
}
.esricon-left:before {
  content: "\e62a";
}
.esricon-right:before {
  content: "\e62b";
}
.esricon-announcement:before {
  content: "\e62c";
}
.esricon-notice-round:before {
  content: "\e62d";
}
.esricon-notice-triangle:before {
  content: "\e62e";
}
.esricon-home:before {
  content: "\e62f";
}
.esricon-locate:before {
  content: "\e630";
}
.esricon-expand:before {
  content: "\e631";
}
.esricon-collapse:before {
  content: "\e632";
}
.esricon-layer-list:before {
  content: "\e633";
}
.esricon-basemap:before {
  content: "\e634";
}
.esricon-globe:before {
  content: "\e635";
}
.esricon-applications:before {
  content: "\e636";
}
.esricon-arrow-up-circled:before {
  content: "\e637";
}
.esricon-arrow-down-circled:before {
  content: "\e638";
}
.esricon-arrow-left-circled:before {
  content: "\e639";
}
.esricon-arrow-right-circled:before {
  content: "\e63a";
}
.esricon-minus-circled:before {
  content: "\e63b";
}
.esricon-plus-circled:before {
  content: "\e63c";
}
.esricon-add-attachment:before {
  content: "\e63d";
}
.esricon-attachment:before {
  content: "\e63e";
}
.esricon-calendar:before {
  content: "\e63f";
}
.esricon-close-circled:before {
  content: "\e640";
}
.esricon-browser:before {
  content: "\e641";
}
.esricon-collection:before {
  content: "\e642";
}
.esricon-comment:before {
  content: "\e643";
}
.esricon-configure-popup:before {
  content: "\e644";
}
.esricon-contact:before {
  content: "\e645";
}
.esricon-dashboard:before {
  content: "\e646";
}
.esricon-deny:before {
  content: "\e647";
}
.esricon-description:before {
  content: "\e648";
}
.esricon-directions:before {
  content: "\e649";
}
.esricon-directions2:before {
  content: "\e64a";
}
.esricon-documentation:before {
  content: "\e64b";
}
.esricon-duplicate:before {
  content: "\e64c";
}
.esricon-review:before {
  content: "\e64d";
}
.esricon-environment-settings:before {
  content: "\e64e";
}
.esricon-error:before {
  content: "\e64f";
}
.esricon-error2:before {
  content: "\e650";
}
.esricon-experimental:before {
  content: "\e651";
}
.esricon-feature-layer:before {
  content: "\e652";
}
.esricon-filter:before {
  content: "\e653";
}
.esricon-grant:before {
  content: "\e654";
}
.esricon-group:before {
  content: "\e655";
}
.esricon-key:before {
  content: "\e656";
}
.esricon-labels:before {
  content: "\e657";
}
.esricon-tag:before {
  content: "\e658";
}
.esricon-layers:before {
  content: "\e659";
}
.esricon-left-arrow:before {
  content: "\e65a";
}
.esricon-right-arrow:before {
  content: "\e65b";
}
.esricon-link-external:before {
  content: "\e65c";
}
.esricon-link:before {
  content: "\e65d";
}
.esricon-loading-indicator:before {
  content: "\e65e";
}
.esricon-maps:before {
  content: "\e65f";
}
.esricon-marketplace:before {
  content: "\e660";
}
.esricon-media:before {
  content: "\e661";
}
.esricon-media2:before {
  content: "\e662";
}
.esricon-menu:before {
  content: "\e663";
}
.esricon-mobile:before {
  content: "\e664";
}
.esricon-phone:before {
  content: "\e665";
}
.esricon-navigation:before {
  content: "\e666";
}
.esricon-pan:before {
  content: "\e667";
}
.esricon-printer:before {
  content: "\e668";
}
.esricon-pie-chart:before {
  content: "\e669";
}
.esricon-chart:before {
  content: "\e66a";
}
.esricon-line-chart:before {
  content: "\e66b";
}
.esricon-question:before {
  content: "\e66c";
}
.esricon-resend-invitation:before {
  content: "\e66d";
}
.esricon-rotate:before {
  content: "\e66e";
}
.esricon-save:before {
  content: "\e66f";
}
.esricon-settings:before {
  content: "\e670";
}
.esricon-settings2:before {
  content: "\e671";
}
.esricon-share:before {
  content: "\e672";
}
.esricon-sign-out:before {
  content: "\e673";
}
.esricon-support:before {
  content: "\e674";
}
.esricon-user:before {
  content: "\e675";
}
.esricon-time-clock:before {
  content: "\e676";
}
.esricon-trash:before {
  content: "\e677";
}
.esricon-upload:before {
  content: "\e678";
}
.esricon-download:before {
  content: "\e679";
}
.esricon-zoom-in-magnifying-glass:before {
  content: "\e67a";
}
.esricon-search:before {
  content: "\e67b";
}
.esricon-zoom-out-magnifying-glass:before {
  content: "\e67c";
}
.esricon-locked:before {
  content: "\e67d";
}
.esricon-unlocked:before {
  content: "\e67e";
}
.esricon-favorites:before {
  content: "\e67f";
}
.esricon-compass:before {
  content: "\e680";
}
.esricon-down:before {
  content: "\e681";
}
.esricon-up:before {
  content: "\e682";
}
.esricon-chat:before {
  content: "\e683";
}
.esricon-dock-bottom:before {
  content: "\e684";
}
.esricon-dock-left:before {
  content: "\e685";
}
.esricon-dock-right:before {
  content: "\e686";
}
.esricon-organization:before {
  content: "\e687";
}
.esricon-north-navigation:before {
  content: "\e688";
}
.esricon-locate-circled:before {
  content: "\e689";
}
.esricon-dial:before {
  content: "\e68a";
}
.esricon-polygon:before {
  content: "\e68b";
}
.esricon-polyline:before {
  content: "\e68c";
}
.esricon-visible:before {
  content: "\e68d";
}
.esricon-non-visible:before {
  content: "\e68e";
}
.esricon-link-vertical:before {
  content: "\e68f";
}
.esricon-unlocked-link-vertical:before {
  content: "\e690";
}
.esricon-link-horizontal:before {
  content: "\e691";
}
.esricon-unlocked-link-horizontal:before {
  content: "\e692";
}
.esricon-swap:before {
  content: "\e693";
}
.esricon-cta-link-external:before {
  content: "\e694";
}
.esricon-reply:before {
  content: "\e695";
}
.esricon-public:before {
  content: "\e696";
}
.esricon-share2:before {
  content: "\e697";
}
.esricon-launch-link-external:before {
  content: "\e698";
}
.esricon-rotate-back:before {
  content: "\e699";
}
.esricon-pan2:before {
  content: "\e69a";
}
.esricon-tracking:before {
  content: "\e69b";
}
.esricon-expand2:before {
  content: "\e69c";
}
.esricon-arrow-down:before {
  content: "\e69d";
}
.esricon-arrow-up:before {
  content: "\e69e";
}
.esricon-hollow-eye:before {
  content: "\e69f";
}
.esricon-play-circled:before {
  content: "\e6a0";
}
.esricon-volume-off:before {
  content: "\e6a1";
}
.esricon-volume-on:before {
  content: "\e6a2";
}
